body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color: #282828;
}

header {
    background-color: #282828;
    color: whitesmoke;
}

ul {
    display: flex;
    background-color: #282828;
    color: whitesmoke;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 25px;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    gap: 10px;
}

li {
    cursor: pointer;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.caption {
    margin: 0px 25px;
}

.item {
    border: red solid;
}

.item-img {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.align-right {
    margin-left: auto;
}